.user-item {
    display: block;
    padding: 24px;
    border: 2px solid #000000;
    background: #d5ffcd;
}

.user-item:hover {
    background: #c6d6f7;
}

.user-item:not(:last-child) {
    margin-bottom: 20px;
}

.user-title {
    padding: 0 23px;
    border: 2px solid #0053fa;
}

.user-body {
    margin-top: 20px;
    border: 2px solid rgb(124, 0, 240);
}