.post-detail {
    padding: 45px 20px;
    border: 1px solid rgb(124, 123, 123);
    text-align: center;
}
.post-detail-wrapper {
    margin-top: 80px;
}

.post-detail-title {
    border: 1px solid rgb(235, 93, 93);
    padding: 10px;
}

.post-detail-body {
    margin-top: 80px;
    border: 1px solid rgb(235, 93, 93);
    padding: 10px;
}