.contacts {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.contacts-info {
    text-align: start;
}

.contacts-phone {
    font-size: 60px;
    color: #004FEC;
    margin-bottom: 45px;
}

.contacts-name {
    padding-left: 20px;
    border-left: 2px solid #004FEC;
    margin-bottom: 20px;
}

.contacts-email {
    font-size: 20px;
    margin-bottom: 45px;
}

.position {
    font-size: 20px;
    margin-bottom: 20px;
}

.technologies {
    font-size: 20px;
}

button {
    display: block;
    width: 240px;
    height: 40px;
}

input {
    display: block;
    width: 240px;
    height: 40px;
}