.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 350px;
    padding: 24px 0;
    height: 290px;
    border: 2px solid #ffffff;
}

.news-item:hover {
    background: #c6d6f7;
}

.title {
    padding: 0 23px;
    border-left: 2px solid #004FEC;
}

.item-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.source {
    font-size: 20px;
    color: #333D5180;
}