.header {
    padding: 45px 0;
}

.header-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.nav-item a{
    font-size: 20px;
}

.nav-item a:hover {
    color: #004FEC;
}

.active {
    color: #004FEC;
}