.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

.footer-logo {
    text-align: start;
}

.footer-info {
    text-align: end;
}

.footer-title {
    font-weight: 700;
}

.small {
    font-size: 15px;
}