*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.appContent {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    min-height: 100vh;
    color: #333D51;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 10px;
}