.news-detail {
    .news-detail-wrapper {
        display: flex;
        .leftPart {
            width: 30%;
        }
        .rightPart {
            width: 70%;
            padding-left: 30px;
        }
        .title {
            font-size: 60px;
            margin-bottom: 30px;
            line-height: 73.08px;
        }

        .source {
            font-size: 25px;
            margin-bottom: 30px;
        }

        img {
            max-width: 780px;
            max-height: 380px;
            margin-bottom: 60px;
        }
    }
}